body {
    background-color: palegreen;
    text-align: center;
}

img {
    width: 100%;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.card {
    background-color: white;
    height: 500px;
    width: 18%;
    text-align: center;
    display: inline-block;
    border: 2px solid black;
    border-radius: 20px;
}

.button {
    background-color: palegreen;
    border-radius: 15px;
    width: 150px;
    display: inline-block;
    text-decoration: none;
    color: #2e2e2e;
    font-size: 18px;
}