body {
    background-color: palegreen;
    text-align: center;
}

img {
    width: 100%;
}

.card {
    background-color: white;
    height: 500px;
    width: 18%;
    text-align: center;
    display: inline-block;
}

.button {
    background-color: palegreen;
    border-radius: 15px;
    width: 150px;
    display: inline-block;
    text-decoration: none;
    color: #2e2e2e;
}